#  Data Wrangling Berlin Traffic Accident 2019 Part 2

The goal of this analysis is to explore the official statistics for road traffic accidents in Berlin in 2019.

The dataset is publicly available through the Berlin Open Data project:
(https://daten.berlin.de/datensaetze/strassenverkehrsunf%C3%A4lle-nach-unfallort-berlin-2019)

The second part of data wrangling involves the following tasks

- Assigning details in a new column based on the column keys
    - District name
    - Accident category
    - Accident type 1
    - Accident type 2
    - Light situation
    - Road condition
- Dropping unnecessary columns
- Find duplicates
- See statistical details

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import os

In [5]:
#assigning path
path = '/Users/satoruteshima/Documents/CareerFoundry/Separate projects/Scripts'

In [8]:
df_berlin = pd.read_csv(os.path.join(path, 'Clean', 'df_berlin.csv'), index_col = False)

In [9]:
df_berlin.head()

,Unnamed: 0,object id,city,district,sub district key,street,year,month,hour of day,weekday,...,accident type,accident type 2,light situation,bike involved,car involved,pedestrian involved,motor bike involved,big track involved,other vehicle involved,road condition
0,0,49090,11,12,12301203,Wittenau Süd,2019,1,13,6,...,5,3,0,1,1,0,0,0,0,1
1,1,49091,11,3,3040818,Pankow Süd,2019,1,9,5,...,5,3,0,1,1,0,0,0,0,0
2,2,49093,11,12,12103115,Breitkopfbecken,2019,3,21,6,...,0,1,2,1,0,0,0,0,0,0
3,3,49096,11,6,6040703,Nikolassee,2019,1,7,6,...,6,4,1,0,1,1,0,0,0,1
4,4,49097,11,7,7030303,Grazer Platz,2019,2,15,3,...,2,6,0,0,1,0,0,0,0,0

##### Assign district name based on District key 

 #District Key

|District key|name|
|---|---|
| 1| Mitte|
| 2| Friedrichshain - Kreuzberg |
| 3| Pankow|
|4 | Charlottenburg - Wilmersdorf|
|5| Spandau|
|6|Steglitz-Zehlendorf|
|7| Tempelhof-Schöneberg|
|8| Neukölln|
|9|Treptow-Köpenick|
|10| Marzahn-Hellersdorf|
|11| Lichtenberg|
|12| Reinickendorf|

In [15]:
#assigning district key 1 to Mitte
df_berlin.loc[df_berlin['district'] == 1, 'district name'] = 'Mitte'

In [18]:
#Assign the rest 
df_berlin.loc[df_berlin['district'] == 2, 'district name'] = 'Friedrichshain - Kreuzberg'
df_berlin.loc[df_berlin['district'] == 3, 'district name'] = 'Pankow'
df_berlin.loc[df_berlin['district'] == 4, 'district name'] = 'Charlottenburg - Wilmersdorf'
df_berlin.loc[df_berlin['district'] == 5, 'district name'] = 'Spandau'
df_berlin.loc[df_berlin['district'] == 6, 'district name'] = 'Steglitz-Zehlendorf'
df_berlin.loc[df_berlin['district'] == 7, 'district name'] = 'Tempelhof-Schöneberg'
df_berlin.loc[df_berlin['district'] == 8, 'district name'] = 'Neukölln'
df_berlin.loc[df_berlin['district'] == 9, 'district name'] = 'Treptow-Köpenick'
df_berlin.loc[df_berlin['district'] == 10, 'district name'] = 'Marzahn-Hellersdorf'
df_berlin.loc[df_berlin['district'] == 11, 'district name'] = 'Lichtenberg'
df_berlin.loc[df_berlin['district'] == 12, 'district name'] = 'Reinickendorf'

##### Assign accident category 

|Accident Type|name|
|---|---|
| 1| Accident with fatalities|
| 2|Accident with serious injuries |
| 3| Accident with minor injuries|

In [22]:
#assigning accident category
df_berlin.loc[df_berlin['category'] == 1, 'category name'] = 'Accident with fatalities'
df_berlin.loc[df_berlin['category'] == 2, 'category name'] = 'Accident with serious injuries'
df_berlin.loc[df_berlin['category'] == 3, 'category name'] = 'Accident with minor injuries'

##### Assign accident type 1

|Accident Type|name|
|---|---|
| 1| Collision with a moving/standing/parked vehicle|
| 2|Collision with the vehicle in front/waiting vehicle |
| 3| Collision with a vehicle traveling laterally in the same direction|
| 4| Collision with oncoming vehicle|
| 5| Collision with a turning/crossing vehicle|
| 6| Collision between vehicle and pedestrian|
| 7| Collision with a road obstacle|
| 8| Departure from the roadway to the right|
| 9| Departure from the roadway to the left|
| 0| Others|

In [24]:
#assigning accident type 1 as 'accident detail'

df_berlin.loc[df_berlin['accident type'] == 1, 'accident detail'] = 'Collision with a moving/standing/parked vehicle'
df_berlin.loc[df_berlin['accident type'] == 2, 'accident detail'] = 'Collision with the vehicle in front/waiting vehicle'
df_berlin.loc[df_berlin['accident type'] == 3, 'accident detail'] = 'Collision with a vehicle traveling laterally in the same direction'
df_berlin.loc[df_berlin['accident type'] == 4, 'accident detail'] = 'Collision with oncoming vehicle'
df_berlin.loc[df_berlin['accident type'] == 5, 'accident detail'] = 'Collision with a turning/crossing vehicle'
df_berlin.loc[df_berlin['accident type'] == 6, 'accident detail'] = 'Collision between vehicle and pedestrian'
df_berlin.loc[df_berlin['accident type'] == 7, 'accident detail'] = 'Collision with a road obstacle'
df_berlin.loc[df_berlin['accident type'] == 8, 'accident detail'] = 'Departure from the roadway to the right'
df_berlin.loc[df_berlin['accident type'] == 9, 'accident detail'] = 'Departure from the roadway to the left'
df_berlin.loc[df_berlin['accident type'] == 0, 'accident detail'] = 'Others'

##### Assign accident type 2

|Accident Type 2|name|
|---|---|
| 1| Driving accident|
| 2| Turning accident |
| 3| Turning/Crossing accident|
| 4| Pedestrian crossing accident|
| 5| Accident involving parked vehicles|
| 6| Collision involving vehicles going in the same way|
| 7| Others|

In [25]:
#assigning accident type 2 as 'accident type detail'
df_berlin.loc[df_berlin['accident type 2'] == 1, 'accident type detail'] = 'Driving accident'
df_berlin.loc[df_berlin['accident type 2'] == 2, 'accident type detail'] = 'Turning accident'
df_berlin.loc[df_berlin['accident type 2'] == 3, 'accident type detail'] = 'Turning/Crossing accident'
df_berlin.loc[df_berlin['accident type 2'] == 4, 'accident type detail'] = 'Pedestrian crossing accident'
df_berlin.loc[df_berlin['accident type 2'] == 5, 'accident type detail'] = 'Accident involving parked vehicles'
df_berlin.loc[df_berlin['accident type 2'] == 6, 'accident type detail'] = 'Collision involving vehicles going in the same way'
df_berlin.loc[df_berlin['accident type 2'] == 7, 'accident type detail'] = 'Others'

##### Assign light situation 

|Light situation|name|
|---|---|
| 0| Daylight|
| 1| Twilight |
| 2| Dark|

In [37]:
#assigning light type as 'lighting condition'

df_berlin.loc[df_berlin['light situation'] == 0, 'light condition'] = 'Daylight'
df_berlin.loc[df_berlin['light situation'] == 1, 'light condition'] = 'Twilight'
df_berlin.loc[df_berlin['light situation'] == 2, 'light condition'] = 'Dark'

##### Assign road condition

|road situation|name|
|---|---|
| 0| Dry|
| 1| Wet/moist/slippery |
| 2| Snowy|

In [84]:
#change the 'road condition' data type from object to int64 
df_berlin['road condition'] = pd.to_numeric(df_berlin['road condition'], errors='coerce').astype('Int64')

In [85]:
df_berlin.loc[df_berlin['road condition'] == 0, 'road condition detail'] = 'Dry'
df_berlin.loc[df_berlin['road condition'] == 1, 'road condition detail'] = 'Wet/moist/slippery'
df_berlin.loc[df_berlin['road condition'] == 2, 'road condition detail'] = 'Snowy'

##### Drop unnecessary columns

In [112]:
drop_columns= ['Unnamed: 0'
                      , 'city'
                       , 'sub district key']


df_berlin2 = df_berlin.drop(columns = drop_columns)

In [113]:
df_berlin2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13390 entries, 0 to 13389
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   object id               13390 non-null  int64
 1   district                13390 non-null  int64
 2   street                  13390 non-null  object
 3   year                    13390 non-null  int64
 4   month                   13390 non-null  int64
 5   hour of day             13390 non-null  int64
 6   weekday                 13390 non-null  int64
 7   category                13390 non-null  int64
 8   accident type           13390 non-null  int64
 9   accident type 2         13390 non-null  int64
 10  light situation         13390 non-null  int64
 11  bike involved           13390 non-null  int64
 12  car involved            13390 non-null  int64
 13  pedestrian involved     13390 non-null  int64
 14  motor bike involved     13390 non-null  int64
 15  big track involved      13390 non-null  int64
 16  other vehicle involved  13390 non-null  object
 17  road condition          13389 non-null  Int64
 18  district name           13390 non-null  object
 19  category name           13390 non-null  object
 20  accident detail         13390 non-null  object
 21  accident type detail    13390 non-null  object
 22  light condition         13390 non-null  object
 23  road condition detail   13389 non-null  object
dtypes: Int64(1), int64(15), object(8)
memory usage: 2.5+ MB

### Data Quality Check

In [114]:
#check shape
df_berlin2.shape

(13390, 24)

In [115]:
#check columns
df_berlin2.columns

Index(['object id', 'district', 'street', 'year', 'month', 'hour of day',
       'weekday', 'category', 'accident type', 'accident type 2',
       'light situation', 'bike involved', 'car involved',
       'pedestrian involved', 'motor bike involved', 'big track involved',
       'other vehicle involved', 'road condition', 'district name',
       'category name', 'accident detail', 'accident type detail',
       'light condition', 'road condition detail'],
      dtype='object')

In [116]:
#cehck data types
df_berlin2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13390 entries, 0 to 13389
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   object id               13390 non-null  int64
 1   district                13390 non-null  int64
 2   street                  13390 non-null  object
 3   year                    13390 non-null  int64
 4   month                   13390 non-null  int64
 5   hour of day             13390 non-null  int64
 6   weekday                 13390 non-null  int64
 7   category                13390 non-null  int64
 8   accident type           13390 non-null  int64
 9   accident type 2         13390 non-null  int64
 10  light situation         13390 non-null  int64
 11  bike involved           13390 non-null  int64
 12  car involved            13390 non-null  int64
 13  pedestrian involved     13390 non-null  int64
 14  motor bike involved     13390 non-null  int64
 15  big track involved      13390 non-null  int64
 16  other vehicle involved  13390 non-null  object
 17  road condition          13389 non-null  Int64
 18  district name           13390 non-null  object
 19  category name           13390 non-null  object
 20  accident detail         13390 non-null  object
 21  accident type detail    13390 non-null  object
 22  light condition         13390 non-null  object
 23  road condition detail   13389 non-null  object
dtypes: Int64(1), int64(15), object(8)
memory usage: 2.5+ MB

In [117]:
#check missing values
missing_values = df_berlin2.isna() 
missing_values.sum()

object id                 0
district                  0
street                    0
year                      0
month                     0
hour of day               0
weekday                   0
category                  0
accident type             0
accident type 2           0
light situation           0
bike involved             0
car involved              0
pedestrian involved       0
motor bike involved       0
big track involved        0
other vehicle involved    0
road condition            1
district name             0
category name             0
accident detail           0
accident type detail      0
light condition           0
road condition detail     1
dtype: int64

In [118]:
df_berlin2.loc[df_berlin['road condition detail'].isna()]

,object id,district,street,year,month,hour of day,weekday,category,accident type,accident type 2,...,motor bike involved,big track involved,other vehicle involved,road condition,district name,category name,accident detail,accident type detail,light condition,road condition detail
11893,201196,10,Hellersdorfer Promenade,2019,11,8,4,3,5,2,...,0,0,"812083,7893",<NA>,Marzahn-Hellersdorf,Accident with minor injuries,Collision with a turning/crossing vehicle,Turning accident,Daylight,NaN

In [119]:
#check the detail of the irregular row 11893
df_berlin.iloc[11893]

Unnamed: 0                                                    11893
object id                                                    201196
city                                                             11
district                                                         10
sub district key                                           10020415
street                                      Hellersdorfer Promenade
year                                                           2019
month                                                            11
hour of day                                                       8
weekday                                                           4
category                                                          3
accident type                                                     5
accident type 2                                                   2
light situation                                                   0
bike involved                                                     0
car involved                                                      1
pedestrian involved                                               0
motor bike involved                                               0
big track involved                                                0
other vehicle involved                                  812083,7893
road condition                                                 <NA>
district name                                   Marzahn-Hellersdorf
category name                          Accident with minor injuries
accident detail           Collision with a turning/crossing vehicle
accident type detail                               Turning accident
light condition                                            Daylight
road condition detail                                           NaN
Name: 11893, dtype: object

'Road condition' is set to 'NA' and 'other vehicle involved' is set to an irregular value of '812083,7893'. 
To solve this issue, I will reassign 'other vehicle involved' as 0, since it shows that the car is involved. 
'Road condition' we keep as NA because there's no way of assuming it.

In [121]:
#reassign value
df_berlin2.at[11893, 'other vehicle involved'] = 0

In [122]:
df_berlin2.iloc[11893]['other vehicle involved']

0

In [123]:
#Find duplicates
df_berlin2[df_berlin2.duplicated()]

Empty DataFrame
Columns: [object id, district, street, year, month, hour of day, weekday, category, accident type, accident type 2, light situation, bike involved, car involved, pedestrian involved, motor bike involved, big track involved, other vehicle involved, road condition, district name, category name, accident detail, accident type detail, light condition, road condition detail]
Index: []

[0 rows x 24 columns]

No duplicates

In [124]:
#see statistical details
df_berlin2.describe()

,object id,district,year,month,hour of day,weekday,category,accident type,accident type 2,light situation,bike involved,car involved,pedestrian involved,motor bike involved,big track involved,road condition
count,13390.000000,13390.000000,13390.0,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13389.0
mean,176308.038462,5.418820,2019.0,6.737043,13.444137,4.105900,2.846901,3.520762,3.907170,0.473488,0.373786,0.814638,0.146975,0.147423,0.034727,0.244977
std,50979.499687,3.480506,0.0,3.228971,4.787982,1.804548,0.367081,2.159758,1.903325,0.817780,0.483826,0.388606,0.354095,0.354541,0.183095,0.437835
min,49090.000000,1.000000,2019.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,192650.250000,2.000000,2019.0,4.000000,10.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0
50%,195997.500000,5.000000,2019.0,7.000000,14.000000,4.000000,3.000000,5.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0
75%,199344.750000,8.000000,2019.0,9.000000,17.000000,6.000000,3.000000,5.000000,6.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0
max,202779.000000,12.000000,2019.0,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.0

In [125]:
#export the clean file
df_berlin2.to_csv(os.path.join(path, 'Clean', 'df_berlin_clean.csv'))